<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Candidato - Atualizar</title>
</head>
<body>
    <nav>
        <div class="nav-item brand">Job In Job</div>
        <div class="nav-item">
            <a href="#logout">Desconectar</a>
        </div>
    </nav>

    <div class="container">
        <div class="profile-header">
            <h1>{{candidato.NOME}}</h1>
            <p>Email: {{candidato.EMAIL}}</p>
            <p>CPF: {{candidato.CPF}}</p>
        </div>

        <form action="/candidato/atualizarcandidato" method="POST">
            <div class="info-section">
                <h3>Informações Pessoais</h3>
                <div class="info-item">
                    <strong>Data de Nascimento:</strong> {{candidato.DATA_NASCIMENTO}}
                </div>
                <div class="info-item">
                    <strong>Gênero:</strong> {{candidato.GENERO}}
                </div>
                <div class="info-item">
                    <label for="telefone">
                        <strong>Telefone:</strong>
                    </label>
                    <input type="text" id="telefone" name="telefone"  value="{{candidato.TELEFONE}}">
                </div>
                <div class="info-item">
                    <label for="cidade">
                        <strong>Cidade:</strong>
                    </label>
                    <input type="text" id="cidade" name="cidade"  value="{{curriculo.CIDADE}}">
                </div>
                <div class="info-item">
                    <label for="estado">
                        <strong>Estado:</strong>
                    </label>
                    <input type="text" id="estado" name="estado"  value="{{curriculo.ESTADO}}">
                </div>
            </div>
    
            <div class="info-section">
                <h3>Experiência</h3>
                <div class="info-item">
                    <label for="nomeEmpresa">
                        <strong>Empresa:</strong>
                    </label>
                    <input type="text" id="nomeEmpresa" name="nomeEmpresa"  value="{{experiencias.NOME_EMPRESA}}">
                </div>
                <div class="info-item">
                    <label for="cargo">
                        <strong>Cargo:</strong>
                    </label>
                    <input type="text" id="cargo" name="cargo"  value="{{experiencias.CARGO}}">
                </div>
                <div class="info-item">
                    <label for="dataEntrada">
                        <strong>Entrada:</strong>
                    </label>
                    <input type="date" id="dataEntrada" name="dataEntrada"  value="{{experiencias.DATA_ENTRADA}}">
                </div>
                <div class="info-item">
                    <label for="dataSaida">
                        <strong>Saída:</strong>
                    </label>
                    <input type="date" id="dataSaida" name="dataSaida"  value="{{experiencias.dataSaida}}">
                </div>
            </div>
    
            <div class="info-section">
                <h3>Formação</h3>
                <div class="info-item">
                    <label for="universidade">
                        <strong>Instituição:</strong>
                    </label>
                    <input type="text" id="universidade" name="universidade"  value="{{formacoes.UNIVERSIDADE}}">
                </div>
                <div class="info-item">
                    <label for="curso">
                        <strong>Curso:</strong>
                    </label>
                    <input type="text" id="curso" name="curso"  value="{{formacoes.CURSO_GRADUACAO}}">
                </div>
                <div class="info-item">
                    <label for="dataInicio">
                        <strong>Início:</strong>
                    </label>
                    <input type="date" id="dataInicio" name="dataInicio"  value="{{formacoes.DATA_INICIO}}">
                </div>
                <div class="info-item">
                    <label for="dataTermino">
                        <strong>Término:</strong>
                    </label>
                    <input type="date" id="dataTermino" name="dataTermino"  value="{{formacoes.DATA_TERMINO}}">
                </div>
            </div>
    
            <div class="info-section">
                <h3>Área de Interesse</h3>
                <div class="info-item">
                    <label for="area">
                        <strong>Área de Interesse:</strong>
                    </label>
                    <input type="text" id="area" name="area"  value="{{curriculo.AREA}}">
                </div>
            </div>
    
            <div class="info-section">
                <h3>Idiomas</h3>
                <div class="info-item">
                    <label for="idioma">
                        <strong>Idioma:</strong>
                    </label>
                    <input type="text" id="idioma" name="idioma"  value="{{curriculo.IDIOMA}}">
                </div>
            </div>
            <button type="submit" class="btn btn-success">Atualizar Informações!</button>
        </form>
    </div>

    <footer>
        <p>&copy; 2024 JobInJob. Todos os direitos reservados.</p>
    </footer>
</body>
</html>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    nav {
        background-color: #1C3659;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        flex-wrap: wrap; 
    }

    .nav-item {
        display: flex; 
        align-items: center; 
    }

    .nav-item a {
        color: white;
        text-decoration: none;
        margin: 0 15px;
        transition: color 0.3s;
    }

    .nav-item a:hover {
        color: #8998ac;
    }

    .brand {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333;
    }

    .profile-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .profile-header h2 {
        margin: 10px 0;
        color: #555;
    }

    .profile-header p {
        margin: 5px 0;
        color: #777;
    }

    .info-section {
        margin-top: 20px;
        border-top: 2px solid #f0f0f0;
        padding-top: 10px;
    }

    .info-section h3 {
        color: #333;
    }

    .info-item {
        margin: 10px 0;
    }

   .info-item strong {
        color: #555;
    }

    label {
        display: block; /* Isso garante que o label fique em uma linha separada */
        margin-bottom: 5px; /* Espaço entre o label e o input */
    }

    input{
        background-color: #e5e5e5;
        width: 98%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .update-button {
        display: block;
        width: 200px; /* Largura fixa do botão */
        padding: 10px;
        margin: 20px auto; /* Centraliza o botão */
        background-color: #1C3659; 
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        text-align: center; /* Centraliza o texto do botão */
        transition: background-color 0.3s, transform 0.3s; 
    }

    .update-button:hover {
        background-color: #8998ac; 
    }

    footer {
        text-align: center;
        padding: 10px 0;
        margin-top: 20px;
        background-color: #1C3659;
        border-top: 1px solid #ddd;
    }

    footer p {
        margin: 5px 0;
        color: white;
    }
</style>