<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Currículo</title>
</head>
<body>
    <header>
        <a id = "navbar-brand" class="navbar-brand" href="#">Job In Job</a>
    </header>

    <main>
        <h2 id="curriculostitle">Meu Currículo</h2>

        <div class="form-container">
           
            <form action="/candidato/meucurriculo" method="GET" class="formulario" id="curriculoForm">
                <section>
                    <h2>Informações do Candidato</h2>
                    <p><strong>Nome:</strong> {{candidato.NOME}}</p>
                    <p><strong>Gênero:</strong> {{candidato.GENERO}}  </p>
                    <p><strong>Data de Nascimento:</strong> {{candidato.DATA_NASCIMENTO}} </p>
                    <p><strong>Email:</strong> {{candidato.EMAIL}}</p>
                    <p><strong>Telefone:</strong> {{formatTelefone candidato.TELEFONE}}</p>
                </section>
                <section>
                    <h2>Informações do Currículo</h2>
                    <p><strong>Cidade:</strong> {{curriculo.CIDADE}}</p>
                    <p><strong>Estado:</strong> {{curriculo.ESTADO}}</p>
                    <p><strong>Área de Interesse:</strong> {{curriculo.AREA}}</p>
                    <p><strong>Idioma:</strong> {{curriculo.IDIOMA}}</p>
                </section>
                <section>
                    <h2>Experiências Profissionais</h2>
                        <p><strong>Empresa:</strong> {{experiencias.NOME_EMPRESA}}</p>
                        <p><strong>Cargo:</strong> {{experiencias.CARGO}}</p>
                        <p><strong>Data de Início:</strong> {{experiencias.DATA_ENTRADA}}</p>
                        <p><strong>Data de Saída:</strong> {{experiencias.DATA_SAIDA}} </p>
                </section>
                <section>
                    <h2>Formação Educacional</h2>
                        <p><strong>Instituição:</strong> {{formacoes.UNIVERSIDADE}}</p>
                        <p><strong>Curso:</strong> {{formacoes.CURSO_GRADUACAO}}</p>
                        <p><strong>Data de Início:</strong> {{formacoes.DATA_INICIO}}</p>
                        <p><strong>Data de Conclusão:</strong> {{formacoes.DATA_TERMINO}}</p>
                </section>
            </form>
        </div>
    </main>
</body>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #E5E5E5;
    }
    
    header {
    background: #1C3659;
    color: #e5e5e5;
    padding: 1rem;
    }

    header h1 {
    margin-bottom: 0.5rem;
    color: #e5e5e5;
    }
    
    #navbar-brand{
        font-weight: bold;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        
    }
    
    nav ul li a {
        color: #3498db; 
        text-decoration: none; 
    }
    
    nav ul li a:hover {
        color: #868686;
    }
    
    nav ul li a.active {
        color: #e74c3c; 
    }
    
    nav a {
        color: #fff;
        text-decoration: none;
    }
    
    main {
        padding: 2rem;
    }
    
    section {
        margin-bottom: 2rem;
        color: #ffffff;
    }
    
    label{
        color: #E5E5E5;
    }
    
    h2 {
        margin-bottom: 1rem;
        color: #1C3659;
    }
    
    p{
        color: #fff;
    }
    
    h3{
        font-size: x-large;
        color: #e5e5e5;
    }
    
    hr {
        border: none; 
        border-top: 2px solid #3179d6; 
        margin: 20px 0;
    }
    
    #inicio{
        color: #1C3659;
        font-weight: bold;
        
    }
    
    .form-container {
        background-color: #1C3659;
        padding: 20px;
        border-radius: 8px;
        max-width: 600px;
        margin: 20px auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .form-container h2 {
        color: #E5E5E5;
    }
    
    .form-container label {
        display: block;
        margin: 10px 0 5px;
        font-weight: bold;
    }
    
    .form-container input[type="text"],
    .form-container input[type="email"],
    .form-container input[type="tel"],
    .form-container input[type="date"],
    .form-container select,
    .form-container textarea {
        background-color: #e5e5e5;
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    .form-container input[type="submit"] {
        display: block;
        margin: 20px auto;
        background-color: #FFf;
        color: #1C3659;
        border: none;
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
    }
    
    
    .form-container input[type="submit"]:hover {
        background-color: #555;
    
    }
    
    #add-experience {
        display: block;
        margin: 20px auto; /* Centraliza o botão */
        background-color: #FFf;
        color: #1C3659;
        border: none;
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
    }
    
    #add-experience:hover {
        background-color: #555;
    }
    
    #add-education {
        display: block;
        margin: 20px auto; /* Centraliza o botão */
        background-color: #FFF;
        color: #1C3659;
        border: none;
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
    }
    
    #add-education:hover {
        background-color: #555;
    }
    
    #add-course {
        display: block;
        margin: 20px auto; /* Centraliza o botão */
        background-color: #FFF;
        color: #1C3659;
        border: none;
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
    }
    
    #add-course:hover {
        background-color: #555;
    }
    
    #add-language {
        display: block;
        margin: 20px auto; 
        background-color: #fff;
        color: #1C3659;
        border: none;
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
    }
    
    #add-language:hover {
        background-color: #555;
    }
    

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    nav ul li {
        display: inline;
        margin-right: 10px;
    }
    
    nav ul li a {
        color: white;
        text-decoration: none;
    }
    
    main {
        margin: 20px;
    }
    
    h2 {
        color: #333;
    }
        
    .curriculo {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .curriculo h3 {
        margin: 0 0 10px;
        font-size: 20px;
    }
    
    .curriculo p {
        margin: 5px 0;
        color: #666;
    }
    
    footer {
        text-align: center;
        padding: 10px;
        background-color: #1C3659;
        color: white;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    
    #inicio {
        margin-left: 20px;
    }
    #nomeec{
        color: #1C3659;
    }
    #curriculostitle{
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
        color: #1C3659; 
        font-size: 32px;
        
    }
    
    #iniciomargin{
        margin-left: 20px;
        font-size: 20px;
        font-weight: bold;
        color: #E5E5E5;
    }
    
    #selecatego{
        color: #1C3659;
        font-weight: bold;
        font-size: 24px;
    
    }
    
    #categoria{
        background-color: #1C3659;
        border-radius: 4px;
        color: #E5E5E5;
        font-size: 20px;
        font-weight: medium;
        margin-bottom: 24px;
        width: 210px;
        height: 36px;
        margin-left: 12px;
    }
    
    #exibirNome{
        color: #1C3659;
        font-weight: bold;
        font-size: 24px;
    }
    
    #botaovisulizar{
        background-color: #1C3659;
        border-radius: 4px;
        color: #E5E5E5;
        font-size: 18px;
        font-weight: medium;
        margin-top: 12px;
        width: 200px;
        height: 36px;
    }
    
    #dadosCurriculo{
        font-weight: medium;
        font-size: 18px;
    }
    
    #botaotabs{
        font-size: 28px;
        font-weight: bold;
        color: #E5E5E5;
        margin-left: 20px;
    }
    
    #labelArea{
        color: #1C3659;
        font-size: 24px;
        font-weight: bold;
    }
    
    #area{
        background-color: #fff;
        border-radius: 4px;
        color: #1C3659;
        font-size: 18px;
        font-weight: medium;
        margin-top: 12px;
        width: 270px;
        height: 36px;
        margin-bottom: 12px;
    }
    
    #editar{
        background-color: #e5e5e5;
        border-radius: 8px;
        color: #1C3659;
        font-size: 18px;
        font-weight: bold;
        margin-top: 12px;
        width: 160px;
        height: 36px;
    }
    
    #salvar{
        background-color: #e5e5e5;
        border-radius: 8px;
        color: #1C3659;
        font-size: 18px;
        font-weight: bold;
        margin-top: 12px;
        width: 160px;
        height: 36px;
    }
    
    #botaocancelar{
        background-color: #e5e5e5;
        border-radius: 8px;
        color: #1C3659;
        font-size: 18px;
        font-weight: bold;
        margin-top: 12px;
        width: 160px;
        height: 36px;
    }
    
    #meucurriculodesc{
        color: #1C3659;
        font-size: 16px;
        font-weight: bold;
    }
    
    #paginaInicio{
        font-size: 36px;
        color: #1C3659;
    }
    
    #inicioJob{
        margin-left: 20px;
        font-size: 20px;
        font-weight: bold;
        color: #fff; 
    }
    
    #linksite{
        margin-left: 20px;
        font-size: 24px;
    }
    
    #iniciotext{
        font-size: 30px;
        color: #1C3659;
        font-weight: medium;
        margin-left: 20px;
    }
    
    #headerjob{
        font-size: 36px;
        color: #1C3659;
    }
    
    #buttonremove {
        border-radius: 6px;
        background-color: #E5E5E5;
        color: #1C3659;
        font-weight: bold;
        font-size: 12px;
        padding: 5px;
    }
</style>

</html>
