<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualização do Currículo</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
       <a id = "navbar-brand" class="navbar-brand" href="#">Job In Job</a>
    </header>

    <form action="/empresa/curriculo/{{CURRICULO_ID}}" method="GET" >
        <main>
            <section class="form-container">
                <h2>Visualização do Currículo</h2>

                <h3>Dados Pessoais</h3>
                <p><strong>Nome Completo:</strong> {{candidato.NOME}}</p>
                <p><strong>E-mail:</strong> {{candidato.EMAIL}}</p>
                <p><strong>Cidade e UF:</strong> {{curriculo.CIDADE}} - {{curriculo.ESTADO}}</p>
                <p><strong>Data de Nascimento:</strong> {{candidato.DATA_NASCIMENTO}}</p>
                <p><strong>Número de Telefone:</strong> {{formatTelefone candidato.TELEFONE}}</p> <!-- Helper para formatar telefone -->
                <p><strong>Gênero:</strong> {{candidato.GENERO}}</p>
                <hr>

                <!-- Experiência -->
                <h3>Experiência</h3>
                <div class="experience-entry">
                    <p><strong>Empresa:</strong> {{experiencias.NOME_EMPRESA}}</p>
                    <p><strong>Cargo:</strong> {{experiencias.CARGO}}</p>
                    <p><strong>Data de Início:</strong> {{experiencias.DATA_ENTRADA}}</p>
                    <p><strong>Data de Encerramento:</strong> {{#if experiencias.DATA_SAIDA}}{{experiencias.DATA_SAIDA}}{{else}}Atual{{/if}}</p>
                    <hr>
                </div>

                <!-- Formação -->
                <h3>Formação</h3>
                <div class="education-entry">
                    <p><strong>Instituição:</strong> {{formacoes.UNIVERSIDADE}}</p>
                    <p><strong>Curso:</strong> {{formacoes.CURSO_GRADUACAO}}</p>
                    <p><strong>Data de Início:</strong> {{formacoes.DATA_INICIO}}</p>
                    <p><strong>Data de Formação:</strong> {{formacoes.DATA_TERMINO}}</p>
                    <hr>
                </div>

                <!-- Área -->
                <h3>Área de Interesse</h3>
                <div class="language-entry">
                    <p><strong> {{curriculo.AREA}} </strong></p>
                    <hr>
                </div>
                
                <!-- Idiomas -->
                <h3>Idiomas</h3>
                <div class="language-entry">
                    <p><strong>Língua:</strong> {{curriculo.IDIOMA}}</p>
                    <hr>
                </div>
            </section>
        </main>
    </form>

    <footer>
        <p>&copy; 2024 JobInJob. Todos os direitos reservados.</p>
    </footer>
</body>


<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #E5E5E5;
}

header {
    background: #1C3659;
    color: #e5e5e5;
    padding: 1rem;
}

header h1 {
    margin-bottom: 0.5rem;
    color: #e5e5e5;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    
}

nav ul li a {
    color: #3498db; 
    text-decoration: none; 
}

nav ul li a:hover {
    color: #868686;
}

nav ul li a.active {
    color: #e74c3c; 
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    color: #ffffff;
}

label{
    color: #E5E5E5;
}

h2 {
    margin-bottom: 1rem;
    color: #1C3659;
}

p{
    color: #fff;
}

footer {
    background: #1C3659;
    color: #e5e5e5;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h3{
    font-size: x-large;
    color: #e5e5e5;
}

hr {
    border: none; 
    border-top: 2px solid #3179d6; 
    margin: 20px 0;
}

#inicio{
    color: #1C3659;
    font-weight: bold;
    
}

.form-container {
    background-color: #1C3659;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    color: #E5E5E5;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


main {
    margin: 20px;
}

#botaotabs{
    font-size: 28px;
    font-weight: bold;
    color: #E5E5E5;
    margin-left: 20px;
}

#navbar-brand{
    font-weight: bold;
}

</style>

</html>